// the place where i store one variable with multiple values

$font-size : (
    xxs: 0.8rem,
    xs: 1rem,
    s: 1.25,
    ms: 1.35rem,
    m: 1.5rem,
    l: 1.75rem,
    xl: 2rem,
    xxl: 2.25rem,
)