@mixin flex-center-wrap($justify,$align,$wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin flex-center-dir($justify,$align,$dir) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $dir;
}